# === Node ===
node_modules/
**/node_modules/

# === Logs ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# === OS/Editor Files ===
.DS_Store
*.pem

# === Env Files ===
.env*
*.tsbuildinfo

# === Vercel ===
.vercel/
front-end/.vercel/

# === Yarn Berry ===
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# === Front-end (Next.js) ===
front-end/.next/
front-end/out/
front-end/coverage/
front-end/next-env.d.ts
front-end/build/

# === Back-end (NestJS) ===
back-end/dist/
back-end/coverage/
back-end/build/

# === Optional: VSCode settings (if you want to ignore) ===
.vscode/
